html {
    font-size: 18px;
    font-feature-settings: "calt", "kern", "liga", "onum";
    font-kerning: normal;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1516px) {
    html {
        font-size: 24px;
    }
}

body {
  font-family: "Lucida Grande", "Trebuchet MS", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  color: #f0f0f0;
  background: #282828;
  line-height: 1.3333;
}


/* Typography */

h1, h2, h3, h4, h5 {
    max-width: 40rem;
    line-height: 0.8;
    color: #4C99E5;
    margin: 1.5rem auto;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Georgia, Baskerville, Garamond, serif;
    text-align: center;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
}
h1::first-line, h2::first-line, h3::first-line, h4::first-line, h5::first-line {
    color: #fff;
    font-size: 2em;
    line-height: 1.12;
}

h1 { font-size: 180%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }

a {
  text-decoration: none;
  color: #f0f0f0;
  background-image: linear-gradient(to bottom, transparent 75%, currentColor 75%);
  background-position: 0 calc(100% - 0.05em);
  background-repeat: repeat-x;
  background-size: 4px 6px;
  text-shadow: -1px 0 #282828, 0px 0 #282828, -0.5px 0.5px 0 #282828, 0.5px 0.5px 0 #282828;
  transition: all 300ms ease; }
  a:hover, a:focus {
    color: #79b2eb; }

time {
  font-family: Georgia, Baskerville, Garamond, serif;
  font-style: italic; }

p {
  max-width: 50ex;
  max-width: 65ch;
  margin: 2rem auto; }
  p:first-child {
    margin-top: 0; }
  p:last-of-type {
    margin-bottom: 0; }

section, article > header {
  padding: 2.5rem 4rem; }

/* Header Responsiveness */

body > header {
    text-align: center;
    padding: 1rem;
}
body > header > h1 {
    max-width: none;
    font-size: 28px;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 1120px) {
    body > header > h1 {
        font-size: 21px;
    }
}
@media screen and (max-width: 720px) {
    body > header > h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    body > header > h1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    body > header > h1 {
        font-size: 11px;
    }
}


/* Result set */

#results {
    background: #fefafe;
    color: #282828;

    padding: 1.5rem 1rem;
    font-style: italic;
}

#results p {
    max-width: 1280px;
    margin: 2rem auto;
}

#results a {
  text-decoration: none;
  color: #4C99E5;
  background-image: linear-gradient(to bottom, transparent 75%, currentColor 75%);
  background-position: 0 calc(100% - 0.05em);
  background-repeat: repeat-x;
  background-size: 4px 6px;
  text-shadow: -1px 0 #fefafe, 0px 0 #fefafe, -0.5px 0.5px 0 #fefafe, 0.5px 0.5px 0 #fefafe;
  transition: all 300ms ease;
}

#results a:hover, #results a:focus {
    color: #79b2eb;
}


#results input[type='text'] {
    font-size: 2rem;
    padding: 0;
    border: none;
    background: #fefafe;
    color: #282828;
    width: 100%;
    margin: 0px auto;
    display: block;
    font-family: Georgia, Baskerville, Garamond, serif;
    display: block;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 1.1;
    font-style: normal;
    text-align: center;
}

#results .pull {
    display: block;
    text-align: right;
}

#iconify-blurb {
    max-width: 90ch;
    text-align: center;
    font-size: 0.8rem;
}

/* Settings Selection */

#settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    min-height: 60vh;
}

#settings > * {
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 350px;
    max-width: 500px;
}

#settings label { display: block; margin-bottom: 0.5rem; }
#settings select { width: 100%; max-width: 350px; }
#settings p:empty { display: none; }

#random-settings {
    display: block;
    margin: 0px auto;
    padding: 1rem 2rem;
}


/* Footer */
body > footer {
    padding: 2rem 4rem;
    padding-bottom: 1rem;
    background: #fefafe;
    color: #282828;
}
body > footer .title {
    font-size: 140%;
    font-weight: bold;
    line-height: 0.8;
    font-family: Georgia, Baskerville, Garamond, serif;
    margin-bottom: 1rem;
}
body > footer a {
    color: #282828;
    text-shadow: -1px 0 #fefafe, 0px 0 #fefafe, -0.5px 0.5px 0 #fefafe, 0.5px 0.5px 0 #fefafe;
}

body > footer > section { padding: 0; }
body > footer hr {
    background: #282828;
    width: 100%;
    margin: 1.5rem 0;
}

#misc-links {
  display: block;
  font-size: 0;
}

#misc-links > * {
    display: inline-block;
    font-size: 1rem;
    width: calc(100% / 3);
    max-width: calc(100% / 3);
}

#misc-links > * {
    vertical-align: top;
    line-height: 1.5;
    font-size: 0.7rem;
}

#legal {
    display: block;
    font-size: 0;
    padding-top: 1.5rem;
}

#legal > * {
    display: inline-block;
    font-size: 1rem;
    width: calc(100% / 3);
    max-width: calc(100% / 3);
}
#legal > * { font-size: 0.7rem; }
#legal > *:first-child {
    max-width: calc((100% / 3) * 2);
    width: calc((100% / 3) * 2);
}
#legal .links > * {
    margin-right: 2rem;
}
#legal .links > *:last-child {
    margin-right: 0;
}

.social abbr {
  display: inline-block;
  text-decoration: none;
  color: #9a999a;
  width: 3ch;
}